add
hashquery
lookup
onak
gpgwww
maxpath
onak-keyd
onak-keydctl
onak-mail.pl
onak.ini
sixdegrees
splitkeys
stripkey
testparse
wotsap
tags
.depend
*.o
*.so
docs
cscope.files
cscope.out
TAGS
GPATH
GRTAGS
GTAGS
.*.swp
