Source: onak
Section: net
Priority: optional
Maintainer: Jonathan McDowell <noodles@earth.li>
Build-Depends: debhelper (>= 9), dh-autoreconf, dh-systemd, libdb-dev, nettle-dev, libcurl4-gnutls-dev | libcurl-dev, libsystemd-dev (>= 214) [linux-any] | libsystemd-daemon-dev [linux-any]
Standards-Version: 3.9.8.0
Homepage: https://www.earth.li/projectpurple/progs/onak.html
Vcs-Browser: https://the.earth.li/gitweb/?p=onak.git;a=summary
Vcs-Git: https://the.earth.li/git/onak.git

Package: onak
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, adduser
Recommends: apache2 | httpd
Suggests: db-util
Description: OpenPGP Key Server
 onak is an OpenPGP compatible keyserver which supports multiple subkeys,
 photo ids and path finding between keys. It can provide an HKP
 compatible interface for use with the --keyserver option of gnupg as
 well as including a command line tool for querying the key database.
