[Unit]
Description=Backend caching key daemon for onak OpenPGP keyserver
Documentation=man:keyd

[Service]
User=onak
ExecStart=/usr/sbin/keyd -f
ExecStop=/usr/bin/keydctl quit

[Install]
WantedBy=multi-user.target
